@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


/* body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #27282c;
}

/* header */
nav {
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    font-family: 'JetBrains Mono', monospace;
    background: #00000048;
    font-size: 20px;
    width: 100%;
    height: 80px;
    top: 0px;
    position: fixed;
    z-index: 999;
    border-bottom: solid 2px #6b57ff;
}
.logo{
    position: fixed;
    width: 45px;
    left: 35px;
    top: 17px;
    filter: invert(1);
}

#menu {
    float: left;
    position: fixed;
    left: 100px;
}
li {
    padding-left: 34px;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    position: relative;
}

#menu>li>a {
    padding: 30px 0px 30px 0px;
    color: #aaa;
    transition: 0.4s color;
    text-decoration: none;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: rgba(60, 255, 135, 0.4)
}
#menu>li>a:hover {
    color: #ffffff;
    transition: 0.3s all;
}
li>a:before {
    position: absolute;
    content: "";
    width: 0;
    border-bottom: 2px solid #6b57ff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    bottom: 25px;
}
li>a:hover:before {
    width: 100%;
    left: 0;
}

.button_content,
	input[type="checkbox"] {
	  display: none;
	}
	input[type="checkbox"]:checked ~ .button_content {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      font-family: 'JetBrains Mono', monospace;
      background: rgba(0, 0, 0, 0.88);
      background-blend-mode: overlay,normal;
	  display: block;
      font-size: 18px;
	  position: absolute;
      text-align: center;
	  width: 100%;
	  height: 279px;
	  margin-top: 54px;
      z-index: 400;
      animation: showing 0.6s;
      transition: 0.3s all ease-in-out;
	}
	.btn {
        border-radius: 6px;
        width: 45px;
        display: inline-block;
        position: relative;
        padding: 0px 0px;
        cursor: pointer;
        z-index: 800;
        right: -10px;
      }
    .btn img{
        position: fixed;
        width: 45px;
        left: 35px;
        top: 17px;
        filter: invert(1);
    }
    #menu2>li>a {
        padding: 45px 0px 30px 0px;
        color: #aaa;
        transition: 0.4s color;
        text-decoration: none;
    }
    #menu2>li>a:hover {
        color: #ffffff;
        transition: 0.3s all;
    }
    #menu2>li>a:before {
        display: none;
    }



/* links box #home */
.main_text{
    text-align: center;
    font-size: 51px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 120px;
    border-bottom: 1px solid #ffffff73;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    animation: showing 2s
}
.subtitle_text{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
}
.links{
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    min-width: 320px;
    max-width: 620px;
    height: 309px;
    margin: auto;
    border-radius: 9px;
    background: #060606;
    box-shadow: 0px 0px 18px rgba(0,0,0,.302);
    animation: showing 0.3s ease-in-out;
    top: 37%;
}
.ghm605bk{
    position: relative;
    padding: 12px;
    width: 270px;
    height: 220px;
    display: block;
    top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.yj9hl{
    position: absolute;
    width: 225px;
    height: 48px;
    background-color: #121212;
    display: block;
    top: -5px;
    left: 8px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s all ease-in-out;
}
.yj9hl:hover{
    background-color: #472fff;
}
.yj9hl img{
    position: absolute;
    width: 36px;
    top: 6px;
    left: 93px;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}
.yj9hl img:hover{
    filter: invert(1);
}
.hbd2t{
    position: absolute;
    width: 225px;
    height: 48px;
    background-color: #121212;
    display: block;
    top: 60px;
    left: 4px;
    margin-right: auto;
    margin-left: auto; 
    transition: 0.3s all ease-in-out;
}
.hbd2t:hover{
    background-color: #472fff;
}
.hbd2t img{
    position: absolute;
    width: 36px;
    top: 6px;
    left: 93px;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}
.hbd2t img:hover{
    filter: invert(1);
}
.o6j3s{
    position: absolute;
    width: 225px;
    height: 48px;
    background-color: #121212;
    display: block;
    top: 125px;
    margin-right: auto;
    margin-left: auto; 
    transition: 0.3s all ease-in-out;
}
.o6j3s:hover{
    background-color: #472fff;
}
.o6j3s img{
    position: absolute;
    width: 36px;
    top: 6px;
    left: 93px;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}
.o6j3s img:hover{
    filter: invert(1);
}
.tg__button{
    position: absolute;
    width: 225px;
    height: 48px;
    background-color: #121212;
    display: block;
    top: 192px;
    left: -4px;
    margin-right: auto;
    margin-left: auto; 
    transition: 0.3s all ease-in-out;
}
.tg__button:hover{
    background-color: #472fff;
}
.tg__button img{
    position: absolute;
    width: 36px;
    top: 6px;
    left: 93px;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}
.tg__button img:hover{
    filter: invert(1);
}


/* info text #home */
.about_me{
    margin-top: 33%;
    height: 400px;
}
.about_me_main_text{
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 720px;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}


.main_project_text{
    text-align: center;
    font-size: 51px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    background: #001203;
    margin-top: 120px;
    border-bottom: 1px solid #00ff4873;
    font-family: 'VT323', monospace;
    overflow: hidden;
    animation: showing 2s
}


/* Project section #project */
.project_content{
    margin-top: 20px;
    height: 2600px;
    border-top: solid 1px #fff;
    background-color: #0d0d0d;
}
.img__alphamapicon{
    display: block;
    position: relative;
    width: 124px;
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.1));
}
.alphamap__text{
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 70px;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    animation: showing 3s
}

.img__alphamapmobile{
    display: block;
    position: relative;
    width: 300px;
    left: 560px;
    top: 594px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.1));
}
.img__alphamapmobile.element-show{
    opacity: 1;
    transition: opacity 1s;
}
.img__alphamapdesktop{
    position: relative;
    display: block;
    width: 920px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    bottom: -300px;
    right: 190px;
    filter: drop-shadow(0px 0px 18px rgba(255, 255, 255, 0.1));
    opacity: 0;
}
.img__alphamapdesktop.element-show{
    opacity: 1;
    transition: opacity 1s;
}
.content__blueflag{
    position: relative;
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    width: 108px;
    height: 22px;
    display: block;
    background-color: rgba(72, 136, 255, 0.399);
    margin-left: auto;
    margin-right: auto;
    bottom: 342px;
    left: 402px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.232);
    opacity: 0;
    transform: translateX(300%);
}
.content__blueflag.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}
.content__yellowflag{
    position: relative;
    -webkit-backdrop-filter: blur(26px);
    backdrop-filter: blur(26px);
    width: 108px;
    height: 22px;
    display: block;
    background-color: rgba(255, 222, 60, 0.4);
    margin-left: auto;
    margin-right: auto;
    bottom: 338px;
    left: 402px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.232);
    opacity: 0;
    transform: translateX(300%);
}
.content__yellowflag.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}
.project_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 480px;
    width: 345px;
    height: 43px;
    border-radius: 28px;
    border: solid 1px #fff;
    padding: 8px 22px;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;
    font-weight: 200;
    text-align: center;
    transition: 0.3s ease;
    color: #fff;
}
.project_button:hover{
    background: #fff;
    color: #000;
}



/* Project section text #project */
.in865rhfutybera4{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 1px;
    background: #ffffff;
    margin-top: 46px;
}
.about_project_text{
    width: 562px;
    display: block;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.about_project_text2{
    width: 562px;
    display: block;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.njgbt860geui68x0{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 1px;
    background: #ffffff;
    margin-top: 32px;
}





/* Animations */ 
@keyframes showing{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media screen and (min-width: 760px) {
    .btn{
        display: none;
    }
    input[type="checkbox"]:checked ~ .button_content {
        display: none;
    }
    li {
        transition: all 0s;
    }
}


@media screen and (max-width: 1570px) {
    .about_me{
        margin-top: 35%;
    }
}
@media screen and (max-width: 1350px) {
    .about_me{
        margin-top: 34%;
    }
}
@media screen and (max-width: 1280px) {
    .about_me{
        margin-top: 38%;
    }
}
@media screen and (max-width: 1140px) {
    .about_me{
        margin-top: 41%;
    }
}
@media screen and (max-width: 1080px) {
    .about_me{
        margin-top: 43%;
    }
    .about_me_main_text{
        font-size: 18px;
    }
    .imgJbtnr4hg25bwfu{
        width: 764px;
    }
}
@media screen and (max-width: 1040px) {
    .about_me{
        margin-top: 44%;
    }
}
@media screen and (max-width: 1000px) {
    .about_me{
        margin-top: 48%;
    }
}
@media screen and (max-width: 880px) {
    .about_me{
        margin-top: 54%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 520px;
    }
    .about_project_text{
        font-size: 16px;
    }
    .about_project_text2{
        font-size: 16px;
    }
}
@media screen and (max-width: 825px) {
    .about_me{
        margin-top: 57%;
    }
}
@media screen and (max-width: 760px) {
    li {
        display: block;
    }
    #menu{
        display: none;
    }
    .logo{
        left: 660px;
    }
    .about_me{
        margin-top: 61%;
    }
    .about_me_main_text{
        font-size: 15px;
    }
}

@media screen and (max-width: 710px) {
    .about_me{
        margin-top: 65%;
    }
    .logo{
        left: 620px;
    }
}
@media screen and (max-width: 680px) {
    .about_me{
        margin-top: 69%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 360px;
    }
    .logo{
        left: 600px;
    }
    .about_project_text{
        font-size: 14px;
        width: 65%;
    }
    .about_project_text2{
        font-size: 14px;
        width: 65%;
    }
}
@media screen and (max-width: 640px) {
    .about_me{
        margin-top: 75%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 360px;
    }
    .logo{
        left: 570px;
    }
}
@media screen and (max-width: 590px) {
    .about_me{
        margin-top: 78%;
    }
    .logo{
        left: 500px;
    }
    .about_project_text{
        width: 60%;
        font-size: 12px;
    }
    .about_project_text2{
        width: 60%;
        font-size: 12px;
    }
}
@media screen and (max-width: 560px) {
    .about_me{
        margin-top: 83%;
    }
    .about_me_main_text{
        font-size: 13px;
        width: 340px;
    }
    .logo{
        left: 470px;
    }
}
@media screen and (max-width: 540px) {
    .about_me{
        margin-top: 88%;
    }
    .about_me_main_text{
        font-size: 13px;
        width: 340px;
    }
    .logo{
        left: 440px;
    }
}
@media screen and (max-width: 500px) {
    .about_me{
        margin-top: 93%;
    }
    .logo{
        left: 410px;
    }
}
@media screen and (max-width: 470px) {
    .about_me{
        margin-top: 95%;
    }
    .logo{
        left: 375px;
    }
}
@media screen and (max-width: 445px) {
    .about_me{
        margin-top: 100%;
    }
    .logo{
        left: 360px;
    }
}
@media screen and (max-width: 430px) {
    .about_me{
        margin-top: 105%;
    }
    .logo{
        left: 345px;
    }
    .about_project_text{
        width: 55%;
    }
    .about_project_text2{
        width: 55%;
    }
}
@media screen and (max-width: 410px) {
    .about_me{
        margin-top: 120%;
    }
    .logo{
        left: 325px;
    }
}
