@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


/* body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(13 13 17);
    overflow-x: hidden;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: rgba(60, 255, 135, 0.4)
}
/* settings scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #151515;
}

::-webkit-scrollbar-thumb {
    background-color: #5141c7;
    border-radius: 20px;
}

/* navigation bar (header) */
nav {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    font-family: 'JetBrains Mono', monospace;
    background: #10101048;
    font-size: 20px;
    width: 100%;
    height: 80px;
    top: 0px;
    position: fixed;
    z-index: 999;
}
.logo{
    position: fixed;
    width: 45px;
    left: 35px;
    top: 17px;
    filter: invert(1);
}

#menu {
    float: left;
    position: fixed;
    left: 100px;
}
li {
    padding-left: 34px;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    position: relative;
}
#menu>li>a {
    padding: 30px 0px 30px 0px;
    color: #aaa;
    transition: 0.4s color;
    text-decoration: none;
}
#menu>li>a:hover {
    color: #ffffff;
    transition: 0.3s all;
}
li>a:before {
    position: absolute;
    content: "";
    width: 0;
    border-bottom: 2px solid #6b57ff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    bottom: 25px;
}
li>a:hover:before {
    width: 100%;
    left: 0;
}

/* navigation bar (header) for mobile */
.button_content,
	input[type="checkbox"] {
	  display: none;
	}
	input[type="checkbox"]:checked ~ .button_content {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      font-family: 'JetBrains Mono', monospace;
      background: rgba(0, 0, 0, 0.88);
      background-blend-mode: overlay,normal;
	  display: block;
      font-size: 18px;
	  position: absolute;
      text-align: center;
	  width: 100%;
	  height: 279px;
	  margin-top: 15px;
      z-index: 400;
      animation: showing 0.6s;
      transition: 0.3s all ease-in-out;
	}
	.btn {
        border-radius: 6px;
        width: 45px;
        display: inline-block;
        position: relative;
        padding: 0px 0px;
        cursor: pointer;
        z-index: 800;
        right: -10px;
      }
    .menu__button{
        display: block;
        margin-top: 15px;
    }
    #menu2>li>a {
        padding: 40px 0px 30px 0px;
        color: #aaa;
        transition: 0.4s color;
        text-decoration: none;
        text-align: center;
    }
    #menu2>li>a:hover {
        color: #ffffff;
        transition: 0.3s all;
    }
    #menu2>li>a:before {
        display: none;
    }

/* home */ 
/* main text */
#main_text{
    text-align: center;
    font-size: 51px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 4ch;
    margin-top: 120px;
    border-bottom: 1px solid #ffffff73;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: color 0.2s;
}
#main_text:hover{
    filter: drop-shadow(0px 0px 5px rgba(85, 255, 0, 0.21));
    color: #9dd011;
    transition: color 0.5s;
} 
#subtitle_text{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
}

/* links block */
.container__links{
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    min-width: 320px;
    max-width: 620px;
    height: 309px;
    margin: auto;
    border: 3px solid #1a191e;
    border-radius: 9px;
    box-shadow: 0px 0px 18px rgba(0,0,0,.302);
    animation: showing 0.3s ease-in-out;
    transition: all 0.2s;
    top: 37%;
}
.container__links:hover{
    transition: all 0.2s;
    background: #1a191e;
}
.container__links>div{
    width: 225px;
    height: 48px;
    border: 2px solid rgb(36, 38, 46);
    border-radius: 8px;
    display: block;
    margin-top: 23px;
    left: 8px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s all ease-in-out;
}
.container__links>div img{
    width: 30px;
    margin-top: 6px;
    margin-left: 10px;
    float: left;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}
.container__links>div::before{
    transition: all 0.5s;
}
.container__links>div:hover{
    background-color: rgb(36, 38, 46);
    cursor: pointer;
}
.container__links>div>a{
    color: #cecece;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    font-size: 17px;
    margin-top: 1px;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/* donate block */
.container__donate{
    position: absolute;
    left: 0;
    right: 0;
    width: 25%;
    min-width: 320px;
    max-width: 620px;
    height: 44px;
    margin: auto;
    background: #1a191e;
    border-left: 4px solid #ffcd05;
    border-radius: 4px;
    box-shadow: 0px 0px 18px rgba(0,0,0,.302);
    animation: showing 0.3s ease-in-out;
    transition: all 0.2s;
    margin-top: 440px;
}
.container__donate__button{
    display: block;
    width: 150px;
    height: 29px;
    border: 2px solid #2d2b33;
    border-radius: 8px;
    margin-top: 7px;
    left: 8px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s all;
}
.container__donate__button:hover{
    background: 2px #2d2b33;
}
.container__donate__button>a{
    color: #cecece;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    font-size: 14px;
    margin-top: -6px;
    margin-left: -7px;
    display: flex;
    width: 19ch;
    justify-content: center;
    padding-top: 10px;
}

/* skill block */
.container__skills{
    position: absolute;
    left: 0;
    right: 0;
    width: 33%;
    min-width: 360px;
    max-width: 360px;
    height: 62px;
    margin: auto;
    background: #1a191e;
    border-radius: 4px;
    box-shadow: 0px 0px 18px rgba(0,0,0,.302);
    animation: showing 0.3s ease-in-out;
    transition: all 0.2s;
    margin-top: 510px;
}
.container__skills img{
    width: 76px;
    margin-top: 14px;
    margin-left: 11px;
    float: left;
    filter: invert(0);
    transition: 0.1s all ease-in-out;
}

/* about me block */
.about_me{
    margin-top: 42%;
    height: 400px;
}
.about_me_main_text{
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

/* #project */
/* main text */
#main_project_text{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    background: #001203;
    margin-top: 120px;
    border-bottom: 1px solid #00ff4873;
    font-family: 'Silkscreen', sans-serif;
    overflow: hidden;
}

/* project alphamap section */
.project_content{
    display: block;
    justify-content: center;
    margin-top: 20px;
    height: 2543px;
    border-top: solid 1px #fff;
    background-color: #0d0d0d;
}
.img__alphamapicon{
    display: block;
    position: relative;
    width: 124px;
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    animation: showing 4s;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.1));
}
#alphamap__text{
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 70px;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
}
.img__alphamapmobile{
    display: block;
    position: relative;
    width: 300px;
    left: 560px;
    top: 594px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.1));
}
.img__alphamapmobile.element-show{
    opacity: 1;
    transition: opacity 1s;
}
.img__alphamapdesktop{
    position: relative;
    display: block;
    width: 920px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    bottom: -300px;
    right: 190px;
    filter: drop-shadow(0px 0px 18px rgba(255, 255, 255, 0.1));
    opacity: 0;
}
.img__alphamapdesktop.element-show{
    opacity: 1;
    transition: opacity 1s;
}
.content__blueflag{
    position: relative;
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    width: 108px;
    height: 22px;
    display: block;
    background-color: rgba(72, 136, 255, 0.399);
    margin-left: auto;
    margin-right: auto;
    bottom: 342px;
    left: 402px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.232);
    opacity: 0;
    transform: translateX(100%);
}
.content__blueflag.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}
.content__yellowflag{
    position: relative;
    -webkit-backdrop-filter: blur(26px);
    backdrop-filter: blur(26px);
    width: 108px;
    height: 22px;
    display: block;
    background-color: rgba(255, 222, 60, 0.4);
    margin-left: auto;
    margin-right: auto;
    bottom: 338px;
    left: 402px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.232);
    opacity: 0;
    transform: translateX(100%);
}
.content__yellowflag.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}
.ukraine__text{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 402px;
    font-size: 98px;
    bottom: 320px;
    font-weight: 500;
    color: #fff;
    width: 10px;
    writing-mode: vertical-rl;
    font-family: 'JetBrains Mono', monospace;
    opacity: 0;
    transform: translateX(-100%);
}
.ukraine__text:first-letter{
    color: rgba(11, 96, 255, 0.855);
}
.ukraine__text.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}
.ukrainewar__text{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 402px;
    font-size: 98px;
    bottom: 278px;
    font-weight: 500;
    color: #fff;
    width: 10px;
    writing-mode: vertical-rl;
    font-family: 'JetBrains Mono', monospace;
    opacity: 0;
    transform: translateX(-100%);
}
.ukrainewar__text:first-letter{
    color: rgba(255, 11, 11, 0.855);
}
.ukrainewar__text.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}

/* about project block */
.project_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    width: 345px;
    height: 43px;
    border-radius: 28px;
    border: solid 1px #fff;
    padding: 8px 22px;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;
    font-weight: 200;
    text-align: center;
    transition: 0.3s ease;
    color: #fff;
}
.project_button:hover{
    background: #fff;
    color: #000;
}
.in865rhfutybera4{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 1px;
    background: #ffffff;
    margin-top: 46px;
}
.about_project_text{
    width: 562px;
    display: block;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.about_project_text2{
    width: 562px;
    display: block;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    opacity: .9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.njgbt860geui68x0{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 1px;
    background: #ffffff;
    margin-top: 32px;
}

/* footer */
.footer{
    background: #161616;
    width: 100%;
    height: 80px;
}
.footer__logo{
    width: 51px;
    margin-top: 13px;
    margin-left: 15px;
    filter: contrast(3);
}
.footer__copyright{
    position: absolute;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: -40px;
    width: 6em;
    left: 70px;
}
.footer_tg__button{
    width: 44px;
    height: 44px;
    transition: 0.5s ease;
}
.footer_tg__button img{
    width: 44px;
}
.footer_tg__button:hover{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.694));
}
.footer>a{
    position: relative;
    display: block;
    width: 44px;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    left: 778px;
}
/* Animations */ 
@keyframes showing{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/**/
@media screen and (min-width: 760px) {
    .btn{
        display: none;
    }
    input[type="checkbox"]:checked ~ .button_content {
        display: none;
    }
    li {
        transition: all 0s;
    }
}

@media screen and (max-width: 2048px) {
    .footer>a{
        left: 967px;
    }
}
@media screen and (max-width: 1980px) {
    .footer>a{
        left: 921px;
    }
}
@media screen and (max-width: 1920px) {
    .footer>a{
        left: 920px;
    }
}
@media screen and (max-width: 1680px) {
    .footer>a{
        left: 778px;
    }
}
@media screen and (max-width: 1570px) {
    .about_me{
        margin-top: 42%;
    }
    .footer>a{
        left: 749px;
    }
}
@media screen and (max-width: 1440px) {
    .footer>a{
        left: 682px;
    }
    .content__blueflag{
        left: 301px;
    }
    .content__yellowflag{
        left: 301px;
    }
    .img__alphamapdesktop{
        width: 835px;
        right: 256px;
    }
    .img__alphamapmobile{
        left: 430px;
    }
    .ukraine__text{
        left: 282px;
        font-size: 92px;
    }
    .ukrainewar__text{
        left: 282px;
        font-size: 92px;
    }
}
@media screen and (max-width: 1350px) {
    .about_me{
        margin-top: 49%;
    }
    .footer>a{
        left: 617px;
    }
    .img__alphamapdesktop{
        width: 790px;
        right: 230px;
        top: 210px;
    }
    .img__alphamapmobile{
        left: 420px;
        width: 280px;
    }
    .ukraine__text{
        left: 273px;
        font-size: 82px;
    }
    .ukrainewar__text{
        left: 273px;
        font-size: 82px;
    }
}
@media screen and (max-width: 1280px) {
    .about_me{
        margin-top: 55%;
    }
    .footer>a{
        left: 585px;
    }
    .content__blueflag{
        width: 89px;
        left: 285px;
    }
    .content__yellowflag{
        width: 89px;
        left: 285px;
    }
    .img__alphamapdesktop{
        width: 750px;
        right: 210px;
        top: 167px;
    }
    .img__alphamapmobile{
        left: 395px;
        width: 250px;
        top: 460px;
    }
    .ukraine__text{
        left: 259px;
        font-size: 72px;
    }
    .ukrainewar__text{
        left: 259px;
        font-size: 72px;
    }
}
@media screen and (max-width: 1140px) {
    .about_me{
        margin-top: 59%;
    }
    .footer>a{
        left: 525px;
    }
    .content__blueflag{
        width: 78px;
        left: 240px;
        bottom: 267px;
    }
    .content__yellowflag{
        width: 78px;
        left: 240px;
        bottom: 264px;
    }
    .img__alphamapdesktop{
        width: 640px;
        right: 164px;
        top: 167px;
    }
    .img__alphamapmobile{
        left: 355px;
        width: 220px;
        top: 518px;
    }
    .ukraine__text{
        left: 240px;
        font-size: 66px;
        bottom: 260px;
    }
    .ukrainewar__text{
        left: 240px;
        font-size: 66px;
        bottom: 220px;
    }
}
@media screen and (max-width: 1080px) {
    .about_me{
        margin-top: 61%;
    }
    .about_me_main_text{
        font-size: 18px;
    }
    .imgJbtnr4hg25bwfu{
        width: 764px;
    }
    .footer>a{
        left: 482px;
    }
}
@media screen and (max-width: 1040px) {
    .about_me{
        margin-top: 61%;
    }
    .footer>a{
        left: 462px;
    }
}
@media screen and (max-width: 1000px) {
    .about_me{
        margin-top: 67%;
    }
    .footer>a{
        left: 431px;
    }
    .content__blueflag{
        width: 78px;
        left: 220px;
        bottom: 113px;
    }
    .content__yellowflag{
        width: 78px;
        left: 220px;
        bottom: 110px;
    }
    .img__alphamapdesktop{
        width: 590px;
        right: 164px;
        top: 295px;
    }
    .img__alphamapmobile{
        left: 300px;
        width: 180px;
        top: 565px;
    }
    #main_project_text{
        width: 8em;
        font-size: 44px;
    }
    #alphamap__text{
        font-size: 33px;
        margin-top: 10px;
    }
    .img__alphamapicon{
        width: 92px;
        top: 155px;
    }
    .project_button{
        margin-top: 140px;
    }
    .ukraine__text{
        left: 200px;
        font-size: 56px;
        bottom: 100px;
    }
    .ukrainewar__text{
        left: 200px;
        font-size: 56px;
        bottom: 70px;
    }
}
@media screen and (max-width: 880px) {
    .about_me{
        margin-top: 74%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 520px;
    }
    .about_project_text{
        font-size: 16px;
    }
    .about_project_text2{
        font-size: 16px;
    }
    .footer>a{
        left: 376px;
    }
    .content__blueflag{
        width: 66px;
        height: 16px;
        left: 202px;
        bottom: -18px;
    }
    .content__yellowflag{
        width: 66px;
        height: 16px;
        left: 202px;
        bottom: -20px;
    }
    .img__alphamapdesktop{
        width: 480px;
        right: 129px;
        top: 380px;
    }
    .img__alphamapmobile{
        left: 280px;
        width: 180px;
        top: 637px;
    }
    .project_button{
        margin-top: 190px;
    }
    .ukraine__text{
        left: 178px;
        font-size: 51px;
        bottom: -35px;
    }
    .ukrainewar__text{
        left: 178px;
        font-size: 51px;
        bottom: -70px;
    }
    .project_content{
        height: 2000px;
    }
}
@media screen and (max-width: 825px) {
    .about_me{
        margin-top: 79%;
    }
    .footer>a{
        left: 354px;
    }
}
@media screen and (max-width: 760px) {
    li {
        display: block;
    }
    #menu{
        display: none;
    }
    .logo{
        left: 660px;
    }
    .about_me{
        margin-top: 84%;
    }
    .about_me_main_text{
        font-size: 15px;
    }
    .footer>a{
        left: 331px;
    }
    .content__blueflag{
        width: 66px;
        height: 16px;
        left: 180px;
        bottom: -48px;
    }
    .content__yellowflag{
        width: 66px;
        height: 16px;
        left: 180px;
        bottom: -51px;
    }
    .img__alphamapmobile{
        left: 260px;
        width: 180px;
        top: 600px;
    }
    .img__alphamapdesktop{
        width: 420px;
        right: 110px;
        top: 380px;
    }
    .ukraine__text{
        left: 158px;
        font-size: 44px;
        bottom: -70px;
    }
    .ukrainewar__text{
        left: 158px;
        font-size: 44px;
        bottom: -110px;
    }
    .project_button{
        margin-top: 323px;
    }
}

@media screen and (max-width: 710px) {
    .about_me{
        margin-top: 91%;
    }
    .logo{
        left: 620px;
    }
    .footer>a{
        left: 312px;
    }
    #alphamap__text{
        font-size: 31px;
        margin-top: 10px;
    }
    .img__alphamapicon{
        width: 102px;
        top: 155px;
    }
    .img__alphamapdesktop{
        width: 410px;
        right: 120px;
        top: 380px;
    }
    .img__alphamapmobile{
        left: 240px;
        width: 180px;
        top: 600px;
    }
    .content__blueflag{
        width: 61px;
        height: 14px;
        left: 160px;
        bottom: -59px;
    }
    .content__yellowflag{
        width: 61px;
        height: 14px;
        left: 160px;
        bottom: -62px;
    }
    .ukraine__text{
        left: 141px;
        font-size: 44px;
        bottom: -70px;
    }
    .ukrainewar__text{
        left: 141px;
        font-size: 44px;
        bottom: -110px;
    }
}
@media screen and (max-width: 680px) {
    .about_me{
        margin-top: 95%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 360px;
    }
    .logo{
        left: 600px;
    }
    .about_project_text{
        font-size: 14px;
        width: 65%;
    }
    .about_project_text2{
        font-size: 14px;
        width: 65%;
    }
    .footer>a{
        left: 284px;
    }
    .img__alphamapmobile{
        left: 227px;
        width: 165px;
        top: 587px;
    }
}
@media screen and (max-width: 640px) {
    .about_me{
        margin-top: 102%;
    }
    .about_me_main_text{
        font-size: 15px;
        width: 360px;
    }
    .logo{
        left: 570px;
    }
    .footer>a{
        left: 265px;
    }
    .img__alphamapdesktop{
        width: 540px;
        right: 0px;
        top: 710px;
    }
    .img__alphamapmobile{
        left: 0px;
        width: 230px;
        top: 650px;
    }
    .content__blueflag{
        width: 67px;
        height: 16px;
        left: -102px;
        bottom: 10px;
    }
    .content__yellowflag{
        width: 67px;
        height: 16px;
        left: -102px;
        bottom: 8px;
    }
    .ukraine__text{
        left: 175px;
        font-size: 54px;
        bottom: 140px;
    }
    .ukrainewar__text{
        left: 175px;
        font-size: 54px;
        bottom: 30px;
    }
    .project_content{
        height: 2360px;
    }
    .project_button{
        margin-top: 500px;
    }
}
@media screen and (max-width: 590px) {
    .about_me{
        margin-top: 109%;
    }
    .logo{
        left: 500px;
    }
    .about_project_text{
        width: 60%;
        font-size: 12px;
    }
    .about_project_text2{
        width: 60%;
        font-size: 12px;
    }
    .footer>a{
        left: 239px;
    }
}
@media screen and (max-width: 560px) {
    .about_me{
        margin-top: 114%;
    }
    .about_me_main_text{
        font-size: 13px;
        width: 340px;
    }
    .logo{
        left: 470px;
    }
    .footer>a{
        left: 219px;
    }
    .img__alphamapdesktop{
        width: 410px;
        right: 0px;
        top: 760px;
    }
    .img__alphamapmobile{
        left: 0px;
        width: 180px;
        top: 724px;
    }
    .content__blueflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -220px;
    }
    .content__yellowflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -222px;
    }
    .ukraine__text{
        left: 128px;
        font-size: 38px;
        bottom: -140px;
    }
    .ukrainewar__text{
        left: 128px;
        font-size: 38px;
        bottom: -200px;
    }
    .project_button{
        margin-top: 700px;
        width: 315px;
    }
    .project_content{
        height: 2250px;
    }
}
@media screen and (max-width: 540px) {
    .about_me{
        margin-top: 121%;
    }
    .about_me_main_text{
        font-size: 13px;
        width: 340px;
    }
    .logo{
        left: 440px;
    }
    .footer>a{
        left: 211px;
    }
        .img__alphamapdesktop{
        width: 410px;
        right: 0px;
        top: 760px;
    }
    .img__alphamapmobile{
        left: 0px;
        width: 180px;
        top: 724px;
    }
    .content__blueflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -220px;
    }
    .content__yellowflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -222px;
    }
    .ukraine__text{
        left: 128px;
        font-size: 38px;
        bottom: -140px;
    }
    .ukrainewar__text{
        left: 128px;
        font-size: 38px;
        bottom: -200px;
    }
    .project_button{
        margin-top: 700px;
        width: 315px;
    }
    .project_content{
        height: 2250px;
    }
}
@media screen and (max-width: 500px) {
    .about_me{
        margin-top: 129%;
    }
    .logo{
        left: 410px;
    }
    .footer>a{
        left: 198px;
    }
}
@media screen and (max-width: 470px) {
    .about_me{
        margin-top: 144%;
    }
    .logo{
        left: 375px;
    }
    .footer>a{
        left: 186px;
    }
}
@media screen and (max-width: 445px) {
    .about_me{
        margin-top: 151%;
    }
    .logo{
        left: 360px;
    }
    #main_project_text{
        width: 7em;
        font-size: 38px;
    }
    .footer>a{
        left: 171px;
    }
    .img__alphamapdesktop{
        width: 380px;
        right: 0px;
        top: 760px;
    }
    .img__alphamapmobile{
        left: 0px;
        width: 180px;
        top: 724px;
    }
    .content__blueflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -220px;
    }
    .content__yellowflag{
        width: 56px;
        height: 13px;
        left: -74px;
        bottom: -222px;
    }
    .ukraine__text{
        left: 128px;
        font-size: 38px;
        bottom: -140px;
    }
    .ukrainewar__text{
        left: 128px;
        font-size: 38px;
        bottom: -200px;
    }
    .project_button{
        margin-top: 700px;
    }
    .project_content{
        height: 2250px;
    }
}
@media screen and (max-width: 430px) {
    .about_me{
        margin-top: 162%;
    }
    .logo{
        left: 345px;
    }
    .about_project_text{
        width: 55%;
    }
    .about_project_text2{
        width: 55%;
    }
    .footer>a{
        left: 161px;
    }
    .about_me{
        margin-top: 120%;
    }
    .logo{
        left: 325px;
    }
}
@media screen and (max-width: 410px) {
    .about_me{
        margin-top: 162%;
    }
    .logo{
        left: 325px;
    }
    #main_project_text{
        width: 7em;
        font-size: 38px;
    }
    .img__alphamapdesktop{
        width: 352px;
        right: 0px;
        top: 720px;
    }
    .img__alphamapmobile{
        left: 0px;
        width: 150px;
        top: 680px;
    }
    .content__blueflag{
        width: 42px;
        height: 10px;
        left: -64px;
        bottom: -258px;
    }
    .content__yellowflag{
        width: 42px;
        height: 10px;
        left: -64px;
        bottom: -260px;
    }
    .ukraine__text{
        left: 114px;
        font-size: 29px;
        bottom: -200px;
    }
    .ukrainewar__text{
        left: 114px;
        font-size: 29px;
        bottom: -250px;
    }
    .project_button{
        margin-top: 600px;
    }
    .project_content{
        height: 2150px;
    }
}
